.editSectionOpen, .editSectionOpen:hover, .editSectionOpen:active, .editSectionOpen:focus {
	background-color: #0052a5;
}

.deleteForms {
	display: inline;
}

footer{
	position: bottom;
	bottom: 0;
	width: 100%;
}