{% extends "base.html" %}

{% block content %}
    <h1>Add Research Center</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.center_name.label }}<br>
            {{ form.center_name(size=64) }}<br>
            {% for error in form.center_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.center_address.label }}<br>
            {{ form.center_address(size=64) }}<br>
            {% for error in form.center_address.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <p>
            {{ form.institution.label }}<br>
            {{ form.institution(size=64) }}<br>
            {% for error in form.institution.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.admin.label }}<br>
            {{ form.admin(size=64) }}<br>
            {% for error in form.admin.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}