{% extends "base.html" %}

{% block content %}

<title>SESAME | Admin Control.</title>

<h1> Administrative operations </h1><br>
<div class="row">
    <div class="col-md-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                    {#class="btn btn-primary"#}

                <a class="btn btn-primary" href="/admin_register_user">Register a new user</a>
            </li>
            <li class="list-group-item">
                    <a class="btn btn-primary" href="/admin_publish_call">Publish call for proposals</a>    
            </li>    
        </ul>
    </div>
</div>




{% endblock %}