{% extends "base.html" %}

{% block content %}

	<h1>Submitted reviews</h1><br>
	<div class="row">
		<div class="col-md-2"></div>

		<div class="col-md-8">
			{% for item in getSubmittedReviews|sort(attribute='rating', reverse=True)|groupby(attribute='call_id') %}
			<div class="card">
				<div class="card-body">
					<h2>Call {{ item[0] }}</h2>
					{% for prop in item[1] %}
					<div class="card">
						<div class="card-body">Description: {{ prop["desc"] }}</div>
						<div class="card-body">Rating: {{ prop["rating"] }}</div>
					</div><br>
					{% endfor %}
				</div>
			</div><br>
			{% endfor %}
		</div>
	</div>

{% endblock %}