{% extends "base.html" %}

{% block content %}

<title>SESAME | Admin Control.</title>

<h1> Your administrative operations </h1><br>
<div class="row">
    <div class="col-md-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                    {#class="btn btn-primary"#}

                <a class="btn btn-primary btn-block" href="{{ url_for('admin_register_user') }}">Register</a>
            </li>
            <li class="list-group-item">
                    <a class="btn btn-primary btn-block" href="{{ url_for('publish_call') }}">Publish call for proposals</a>    
            </li> 
            

            <li class="list-group-item">
                <a class="btn btn-primary btn-block" href="{{ url_for('admin_edit_user') }}">Edit Users</a>    
            </li> 
            


        </ul>
    </div>
</div>




{% endblock %}