{% extends "base.html" %}

{% block content %}

	<h1>Submitted reviews</h1><br>
	<div class="row">
		<div class="col-md-2"></div>

		<div class="col-md-8 mx-2">
			{% for item in getSubmittedReviews|sort(attribute='rating', reverse=True)|groupby(attribute='call_id') %}
			<div class="card">
				<div class="card-body">
					<h2>{{ getAllFundingCalls[item[0]-1].title }}</h2>
					{% for prop in item[1] %}
					<div class="card">
						<div class="card-body">
						<h4>"{{ prop["proposal_title"] }}" by {{ prop["username"] }}</h4>
						<form action="" method="POST">
							<input type="hidden" name="review_id" value="{{ prop["id"] }}" />
							<div class="btn-toolbar ">
							<input type="submit" class="btn btn-success mx-3" name="accept" value="Accept">
							<input type="submit" class="btn btn-danger" name="delete" value="Delete">
						</div>
						</form>
						Description: {{ prop["desc"] }}<br>
						Rating: {{ prop["rating"] }}</div>
					</div><br>
					{% endfor %}
				</div>
			</div><br>
			{% endfor %}
		</div>
	</div>

{% endblock %}