{% extends "base.html" %}

{% block content %}

<div class="row">
		<div class="col-md-4">
			<ul class="list-group list-group-flush">
                <li class="list-group-item">
                        {#class="btn btn-primary"#}
    
                    <a class="btn btn-primary btn-block" href="{{ url_for('admin_register_user') }}">Register</a>
                </li>
                <li class="list-group-item">
                        <a class="btn btn-primary btn-block" href="{{ url_for('publish_call') }}">Publish call for proposals</a>    
                </li> 
                <li class="list-group-item">
                    <a class="btn btn-primary btn-block" href="{{ url_for('admin_edit_proposals') }}">Edit proposals</a>    
            </li>
            
            <li class="list-group-item">
                <a class="btn btn-primary btn-block" href="{{ url_for('admin_edit_user') }}">Edit Users</a>    
            </li> 
                
    
    
            </ul>
		</div>

	<div class="col-md-6">
		<h1>Publish Call for Proposal</h1>
		<form action="" enctype="multipart/form-data" method="post" novalidate>
			<div class="form-group" >
			{{ form.hidden_tag() }}
			
			{{ form.deadline.label(class="form-text") }}
			{{ form.deadline(class="form-control") }}
			{% for error in form.deadline.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			
			</div>
			<div class="form-group">
		
			{{ form.title.label(class="form-text") }}
			{{ form.title(class="form-control") }}
			{% for error in form.title.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		
			</div>
			<div class="form-group">
		
			{{ form.contact.label(class="form-text") }}
			{{ form.contact(class="form-control") }}
			{% for error in form.contact.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			
			</div>
			<div class="form-group">
			
			{{ form.overview.label(class="form-text") }}
			{{ form.overview(class="form-control") }}
			{% for error in form.overview.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		
		</div>
		<div class="form-group">
			
			{{ form.funding.label(class="form-text") }}
			{{ form.funding(class="form-control") }}
			{% for error in form.funding.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		
			</div>
			
			{{ form.key_dates.label(class="form-text") }}
			{{ form.key_dates(class="form-control") }}<br>
			{% for error in form.key_dates.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			
			<div class="form-group">
				<div class="custom-file mb-3">
		
			{{ form.file_upload.label(class="custom-file-label", type="file" ) }}<br>
			{{ form.file_upload(class="custom-file-input" ) }}
			{% for error in form.file_upload.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			
			</div>
		</div>
		{{ form.submit(class="btn btn-primary") }}
		
		</form>

	</div>
	<div class="col-sm-2"></div>
</div>


{% endblock %}




