<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    {% if title %}
    <title> {{title}}- TestPage</title>
    {% else %}
    <title>Welcome to TestPage!</title>
    {% endif %}
</head> 

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for("index") }}">Home</a>
            </div>
            <ul class="nav navbar-nav">
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for("login") }}">Login</a>
                </li>
                {% else %}
                <li><a href="{{ url_for("logout") }}">Logout</a></li>
                <li><a href="{{ url_for("user", username=current_user.username) }}">Profile</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ messages }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
