{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#general" aria-expanded="false" aria-controls="general">General Info</button>
                    <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#education" aria-expanded="false" aria-controls="education">Education</button></li>
                <li class="list-group-item"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#employment" aria-expanded="false" aria-controls="employment">Employment</button></li>
                <li class="list-group-item"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#societies" aria-expanded="false" aria-controls="societies">Societies</button></li>
                <li class="list-group-item"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#awards" aria-expanded="false" aria-controls="awards">Awards</button></li>
                <li class="list-group-item"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#fundingDiv" aria-expanded="false" aria-controls="fundingDiv">Funding Diversification</button></li>
                <li class="list-group-item"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#teamMembers" aria-expanded="false" aria-controls="teamMembers">Team Members</button></li>
                <li class="list-group-item"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#impacts" aria-expanded="false" aria-controls="impacts">Impacts</button></li>
                <li class="list-group-item"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#innovCom" aria-expanded="false" aria-controls="innovCom">Innovation and Commercialisation</button></li>
                <li class="list-group-item"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#publications" aria-expanded="false" aria-controls="publications">Publications</button></li>
                <li class="list-group-item"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#presentations" aria-expanded="false" aria-controls="presentations">Presentations</button></li>
                <li class="list-group-item"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#academicCollabs" aria-expanded="false" aria-controls="academicCollabs">Academic Collaborations</button></li>
                <li class="list-group-item"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#nonAcademicCollabs" aria-expanded="false" aria-controls="nonAcademicCollabs">Non Academic Collaborations</button></li>
                <li class="list-group-item"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#events" aria-expanded="false" aria-controls="events">Events</button></li>
                <li class="list-group-item"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#communications" aria-expanded="false" aria-controls="communications">Communications</button></li>
                <li class="list-group-item"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sfiFundingRatio" aria-expanded="false" aria-controls="sfiFundingRatio">SFI Funding Ratio</button></li>
                <li class="list-group-item"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#pubEngage" aria-expanded="false" aria-controls="pubEngage">Education and Public Engagement</button></li>
            </ul>
        </div>

        <div class="col-md-8">
        <!-- GENERAL INFORMATION -->
        <div class="collapse" id="general">
            <h1>Edit General Information</h1>
            <form action="" method="post">
                {{ genInfoForm.hidden_tag() }}
                <div class="form-group">
                    {{ genInfoForm.firstName.label }}<br>
                    {{ genInfoForm.firstName(class="form-control", size=32) }}<br>
                    {% for error in genInfoForm.firstName.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ genInfoForm.lastName.label }}<br>
                    {{ genInfoForm.lastName(class="form-control", size=32) }}<br>
                    {% for error in genInfoForm.lastName.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ genInfoForm.jobTitle.label }}<br>
                    {{ genInfoForm.jobTitle(class="form-control", size=32) }}<br>
                    {% for error in genInfoForm.jobTitle.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ genInfoForm.prefix.label }}<br>
                    {{ genInfoForm.prefix(class="form-control") }}<br>
                    {% for error in genInfoForm.lastName.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ genInfoForm.suffix.label }}<br>
                    {{ genInfoForm.suffix(class="form-control", size=5) }}<br>
                    {% for error in genInfoForm.suffix.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ genInfoForm.phoneNumPrefix.label }}<br>
                    {{ genInfoForm.phoneNumPrefix(class="form-control", size=5) }}<br>
                    {% for error in genInfoForm.phoneNumPrefix.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ genInfoForm.phoneNum.label }}<br>
                    {{ genInfoForm.phoneNum(class="form-control", size=15) }}<br>
                    {% for error in genInfoForm.phoneNum.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ genInfoForm.email.label }}<br>
                    {{ genInfoForm.email(class="form-control", size=32) }}<br>
                    {% for error in genInfoForm.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ genInfoForm.orcid.label }}<br>
                    {{ genInfoForm.orcid(class="form-control", rows=4) }}<br>
                    {% for error in genInfoForm.orcid.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ genInfoForm.genSubmit(class="btn btn-primary") }}
                </div>
            </form><hr>
        </div>

        <!-- EDUCATION -->
        <div class="collapse" id="education">
            <h1>Edit Education Information</h1>
            <form action="" method="post">
                {{ eduForm.hidden_tag() }}
                <div class="form-group">
                    {{ eduForm.degree.label }}<br>
                    {{ eduForm.degree(class="form-control", size=64) }}<br>
                    {% for error in eduForm.degree.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ eduForm.fieldOfStudy.label }}<br>
                    {{ eduForm.fieldOfStudy(class="form-control", size=64) }}<br>
                    {% for error in eduForm.fieldOfStudy.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ eduForm.institution.label }}<br>
                    {{ eduForm.institution(class="form-control", size=64) }}<br>
                    {% for error in eduForm.institution.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ eduForm.location.label }}<br>
                    {{ eduForm.location(class="form-control", size=64) }}<br>
                    {% for error in eduForm.location.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ eduForm.yearOfDegreeAward.label }}<br>
                    {{ eduForm.yearOfDegreeAward(class="form-control", size=4) }}<br>
                    {% for error in eduForm.yearOfDegreeAward.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ eduForm.eduSubmit(class="btn btn-primary") }}

                    <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#education-show" aria-expanded="false" aria-controls="education-show">Show current</button>
                </div>
            </form>
            
            <div class="collapse" id="education-show">
                <p>
                    content - here
                </p>
            </div>
            <hr>
        </div>

        <!-- EMPLOYMENT -->
        <div class="collapse" id="employment">
            <h1>Edit Employment Information</h1>
            <form action="" method="post">
                {{ employForm.hidden_tag() }}
                <div class="form-group">
                    {{ employForm.company.label }}<br>
                    {{ employForm.company(class="form-control", size=64) }}<br>
                    {% for error in employForm.company.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ employForm.location.label }}<br>
                    {{ employForm.location(class="form-control", size=64) }}<br>
                    {% for error in employForm.location.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ employForm.years.label }}<br>
                    {{ employForm.years(class="form-control", size=4) }}<br>
                    {% for error in employForm.years.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ employForm.employSubmit(class="btn btn-primary") }}

                    <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#employment-show" aria-expanded="false" aria-controls="employment-show">Show current</button>
                </div>
            </form>
            
            <div class="collapse" id="employment-show">
                <p>
                    content - here
                </p>
            </div>
            <hr>
        </div>

        <!-- SOCIETIES -->
        <div class="collapse" id="societies">
            <h1>Edit Societies Information</h1>
            <form action="" method="post">
                {{ socForm.hidden_tag() }}
                <!-- @TODO: change these to dates -->
                <div class="form-group">
                    {{ socForm.startDate.label }}<br>
                    {{ socForm.startDate(class="form-control", size=64) }}<br>
                    {% for error in socForm.startDate.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ socForm.endDate.label }}<br>
                    {{ socForm.endDate(class="form-control", size=64) }}<br>
                    {% for error in socForm.endDate.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ socForm.nameOfSociety.label }}<br>
                    {{ socForm.nameOfSociety(class="form-control", size=32) }}<br>
                    {% for error in socForm.nameOfSociety.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ socForm.typeOfMembership.label }}<br>
                    {{ socForm.typeOfMembership(class="form-control", size=32) }}<br>
                    {% for error in socForm.typeOfMembership.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ socForm.status.label }}<br>
                    {{ socForm.status(class="form-control") }}<br>
                    {% for error in socForm.status.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ socForm.socSubmit(class="btn btn-primary") }}

                    <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#societies-show" aria-expanded="false" aria-controls="societies-show">Show current</button>
                </div>
            </form>
            
            <div class="collapse" id="societies-show">
                <p>
                    content - here
                </p>
            </div>
            <hr>
        </div>

        <!-- AWARDS -->
        <div class="collapse" id="awards">
            <h1>Edit Awards Information</h1>
            <form action="" method="post">
                {{ awardsForm.hidden_tag() }}
                <!-- @TODO: change these to dates -->
                <div class="form-group">
                    {{ awardsForm.year.label }}<br>
                    {{ awardsForm.year(class="form-control", size=4) }}<br>
                    {% for error in awardsForm.year.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ awardsForm.awardingBody.label }}<br>
                    {{ awardsForm.awardingBody(class="form-control", size=64) }}<br>
                    {% for error in awardsForm.awardingBody.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ awardsForm.details.label }}<br>
                    {{ awardsForm.details(class="form-control", col=50, rows=4) }}<br>
                    {% for error in awardsForm.details.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ awardsForm.teamMemberName.label }}<br>
                    {{ awardsForm.teamMemberName(class="form-control", size=32) }}<br>
                    {% for error in awardsForm.teamMemberName.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ awardsForm.awardsSubmit(class="btn btn-primary") }}

                    <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#awards-show" aria-expanded="false" aria-controls="awards-show">Show current</button>
                </div>
            </form>
            
            <div class="collapse" id="awards-show">
                <p>
                    content - here
                </p>
            </div>
            <hr>
        </div>

        <!-- FUNDING DIVERSIFICATION -->
        <div class="collapse" id="fundingDiv">
            <h1>Edit Funding Diversification Information</h1>
            <form action="" method="post">
                {{ fundingDivForm.hidden_tag() }}
                <div class="form-group">
                    {{ fundingDivForm.startDate.label }}<br>
                    {{ fundingDivForm.startDate(class="form-control") }}<br>
                    {% for error in fundingDivForm.startDate.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ fundingDivForm.endDate.label }}<br>
                    {{ fundingDivForm.endDate(class="form-control") }}<br>
                    {% for error in fundingDivForm.endDate.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ fundingDivForm.amount.label }}<br>
                    {{ fundingDivForm.amount(class="form-control", size=32) }}<br>
                    {% for error in fundingDivForm.amount.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ fundingDivForm.fundingBody.label }}<br>
                    {{ fundingDivForm.fundingBody(class="form-control", size=32) }}<br>
                    {% for error in fundingDivForm.fundingBody.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ fundingDivForm.fundingProgramme.label }}<br>
                    {{ fundingDivForm.fundingProgramme(class="form-control", size=32) }}<br>
                    {% for error in fundingDivForm.fundingProgramme.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ fundingDivForm.status.label }}<br>
                    {{ fundingDivForm.status(class="form-control") }}<br>
                    {% for error in fundingDivForm.status.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ fundingDivForm.primaryAttribution.label }}<br>
                    {{ fundingDivForm.primaryAttribution(class="form-control", size=32) }}<br>
                    {% for error in fundingDivForm.primaryAttribution.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ fundingDivForm.fundingDivSubmit(class="btn btn-primary") }}

                    <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#fundingDiv-show" aria-expanded="false" aria-controls="fundingDiv-show">Show current</button>
                </div>
            </form>
            
            <div class="collapse" id="fundingDiv-show">
                <p>
                    content - here
                </p>
            </div>
            <hr>
        </div>

        <!-- TEAM MEMBERS -->
        <div class="collapse" id="teamMembers">
            <h1>Edit Team Members Information</h1>
            <form action="" method="post">
                {{ teamMemForm.hidden_tag() }}
                <div class="form-group">
                    {{ teamMemForm.startDate.label }}<br>
                    {{ teamMemForm.startDate(class="form-control") }}<br>
                    {% for error in teamMemForm.startDate.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ teamMemForm.departureDate.label }}<br>
                    {{ teamMemForm.departureDate(class="form-control") }}<br>
                    {% for error in teamMemForm.departureDate.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ teamMemForm.name.label }}<br>
                    {{ teamMemForm.name(class="form-control", size=32) }}<br>
                    {% for error in teamMemForm.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ teamMemForm.position.label }}<br>
                    {{ teamMemForm.position(class="form-control", size=32) }}<br>
                    {% for error in teamMemForm.position.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ teamMemForm.primaryAttribution.label }}<br>
                    {{ teamMemForm.primaryAttribution(class="form-control", size=32) }}<br>
                    {% for error in teamMemForm.primaryAttribution.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ teamMemForm.teamMemSubmit(class="btn btn-primary") }}

                    <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#teamMembers-show" aria-expanded="false" aria-controls="teamMembers-show">Show current</button>
                </div>
            </form>
            
            <div class="collapse" id="teamMembers-show">
                <p>
                    content - here
                </p>
            </div>
            <hr>
        </div>

        <!-- IMPACTS -->
        <div class="collapse" id="impacts">
            <h1>Edit Impacts Information</h1>
            <form action="" method="post">
                {{ impactsForm.hidden_tag() }}
                <div class="form-group">
                    {{ impactsForm.title.label }}<br>
                    {{ impactsForm.title(class="form-control", size=32) }}<br>
                    {% for error in impactsForm.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ impactsForm.category.label }}<br>
                    {{ impactsForm.category(class="form-control", size=32) }}<br>
                    {% for error in impactsForm.category.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ impactsForm.primaryBeneficiary.label }}<br>
                    {{ impactsForm.primaryBeneficiary(class="form-control", size=64) }}<br>
                    {% for error in impactsForm.primaryBeneficiary.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ impactsForm.primaryAttribution.label }}<br>
                    {{ impactsForm.primaryAttribution(class="form-control", size=64) }}<br>
                    {% for error in impactsForm.primaryAttribution.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ impactsForm.impactsSubmit(class="btn btn-primary") }}

                    <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#impacts-show" aria-expanded="false" aria-controls="impacts-show">Show current</button>
                </div>
            </form>
            
            <div class="collapse" id="impacts-show">
                <p>
                    content - here
                </p>
            </div>
            <hr>
        </div>

        <!-- INNOVATION AND COMMERCIALISATION -->
        <div class="collapse" id="innovCom">
            <h1>Edit Innovation and Commercialisation Information</h1>
            <form action="" method="post">
                {{ innovForm.hidden_tag() }}
                <div class="form-group">
                    {{ innovForm.year.label }}<br>
                    {{ innovForm.year(class="form-control", size=4) }}<br>
                    {% for error in innovForm.year.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ innovForm.type.label }}<br>
                    {{ innovForm.type(class="form-control", size=32) }}<br>
                    {% for error in innovForm.type.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ innovForm.title.label }}<br>
                    {{ innovForm.title(class="form-control", size=64) }}<br>
                    {% for error in innovForm.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ innovForm.primaryAttribution.label }}<br>
                    {{ innovForm.primaryAttribution(class="form-control", size=64) }}<br>
                    {% for error in innovForm.primaryAttribution.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ innovForm.innovSubmit(class="btn btn-primary") }}

                    <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#innovCom-show" aria-expanded="false" aria-controls="innovCom-show">Show current</button>
                </div>
            </form>
            
            <div class="collapse" id="innovCom-show">
                <p>
                    content - here
                </p>
            </div>
            <hr>
        </div>

        <!-- PUBLICATIONS -->
        <div class="collapse" id="publications">
            <h1>Edit Publications Information</h1>
            <form action="" method="post">
                {{ pubForm.hidden_tag() }}
                <div class="form-group">
                    {{ pubForm.year.label }}<br>
                    {{ pubForm.year(class="form-control", size=4) }}<br>
                    {% for error in pubForm.year.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ pubForm.type.label }}<br>
                    {{ pubForm.type(class="form-control") }}<br>
                    {% for error in pubForm.type.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ pubForm.title.label }}<br>
                    {{ pubForm.title(class="form-control", size=32) }}<br>
                    {% for error in pubForm.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ pubForm.name.label }}<br>
                    {{ pubForm.name(class="form-control") }}<br>
                    {% for error in pubForm.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ pubForm.publicationStatus.label }}<br>
                    {{ pubForm.publicationStatus(class="form-control") }}<br>
                    {% for error in pubForm.publicationStatus.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ pubForm.doi.label }}<br>
                    {{ pubForm.doi(class="form-control") }}<br>
                    {% for error in pubForm.doi.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ pubForm.primaryAttribution.label }}<br>
                    {{ pubForm.primaryAttribution(class="form-control", size=32) }}<br>
                    {% for error in pubForm.primaryAttribution.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ pubForm.pubSubmit(class="btn btn-primary") }}

                    <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#publications-show" aria-expanded="false" aria-controls="publications-show">Show current</button>
                </div>
            </form>
            
            <div class="collapse" id="publications-show">
                <p>
                    content - here
                </p>
            </div>
            <hr>
        </div>

        <!-- PRESENTATIONS -->
        <div class="collapse" id="presentations">
            <h1>Edit Presentations Information</h1>
            <form action="" method="post">
                {{ presForm.hidden_tag() }}
                <div class="form-group">
                    {{ presForm.year.label }}<br>
                    {{ presForm.year(class="form-control", size=4) }}<br>
                    {% for error in presForm.year.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ presForm.title.label }}<br>
                    {{ presForm.title(class="form-control", size=32) }}<br>
                    {% for error in presForm.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ presForm.eventType.label }}<br>
                    {{ presForm.eventType(class="form-control") }}<br>
                    {% for error in presForm.eventType.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ presForm.organisingBody.label }}<br>
                    {{ presForm.organisingBody(class="form-control", size=32) }}<br>
                    {% for error in presForm.organisingBody.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ presForm.location.label }}<br>
                    {{ presForm.location(class="form-control", size=64) }}<br>
                    {% for error in presForm.location.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ presForm.primaryAttribution.label }}<br>
                    {{ presForm.primaryAttribution(class="form-control", size=32) }}<br>
                    {% for error in presForm.primaryAttribution.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ presForm.presSubmit(class="btn btn-primary") }}

                    <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#presentations-show" aria-expanded="false" aria-controls="presentations-show">Show current</button>
                </div>
            </form>
            
            <div class="collapse" id="presentations-show">
                <p>
                    content - here
                </p>
            </div>
            <hr>
        </div>

        <!-- ACADEMIC COLLABORATIONS -->
        <div class="collapse" id="academicCollabs">
            <h1>Edit Academic Collaborations</h1>
            <form action="" method="post">
                {{ academicCollabsForm.hidden_tag() }}
                <div class="form-group">
                    {{ academicCollabsForm.startDate.label }}<br>
                    {{ academicCollabsForm.startDate(class="form-control", size=32) }}<br>
                    {% for error in academicCollabsForm.startDate.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ academicCollabsForm.endDate.label }}<br>
                    {{ academicCollabsForm.endDate(class="form-control", size=32) }}<br>
                    {% for error in academicCollabsForm.endDate.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ academicCollabsForm.nameOfInstitution.label }}<br>
                    {{ academicCollabsForm.nameOfInstitution(class="form-control", size=64) }}<br>
                    {% for error in academicCollabsForm.nameOfInstitution.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ academicCollabsForm.department.label }}<br>
                    {{ academicCollabsForm.department(class="form-control", size=32) }}<br>
                    {% for error in academicCollabsForm.department.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ academicCollabsForm.nameOfCollaborator.label }}<br>
                    {{ academicCollabsForm.nameOfCollaborator(class="form-control", size=64) }}<br>
                    {% for error in academicCollabsForm.nameOfCollaborator.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ academicCollabsForm.goal.label }}<br>
                    {{ academicCollabsForm.goal(class="form-control") }}<br>
                    {% for error in academicCollabsForm.goal.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ academicCollabsForm.frequency.label }}<br>
                    {{ academicCollabsForm.frequency(class="form-control", size=32) }}<br>
                    {% for error in academicCollabsForm.frequency.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ academicCollabsForm.primaryAttribution.label }}<br>
                    {{ academicCollabsForm.primaryAttribution(class="form-control", size=32) }}<br>
                    {% for error in academicCollabsForm.primaryAttribution.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ academicCollabsForm.academicCollabsSubmit(class="btn btn-primary") }}

                    <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#academicCollabs-show" aria-expanded="false" aria-controls="academicCollabs-show">Show current</button>
                </div>
            </form>
            
            <div class="collapse" id="academicCollabs-show">
                <p>
                    content - here
                </p>
            </div>
            <hr>
        </div>

        <!-- NON ACADEMIC COLLABORATIONS -->
        <div class="collapse" id="nonAcademicCollabs">
            <h1>Edit Non Academic Collaborations</h1>
            <form action="" method="post">
                {{ nonAcademicCollabsForm.hidden_tag() }}
                <div class="form-group">
                    {{ nonAcademicCollabsForm.startDate.label }}<br>
                    {{ nonAcademicCollabsForm.startDate(class="form-control", size=32) }}<br>
                    {% for error in nonAcademicCollabsForm.startDate.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ nonAcademicCollabsForm.endDate.label }}<br>
                    {{ nonAcademicCollabsForm.endDate(class="form-control", size=32) }}<br>
                    {% for error in nonAcademicCollabsForm.endDate.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ nonAcademicCollabsForm.nameOfInstitution.label }}<br>
                    {{ nonAcademicCollabsForm.nameOfInstitution(class="form-control", size=64) }}<br>
                    {% for error in nonAcademicCollabsForm.nameOfInstitution.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ nonAcademicCollabsForm.department.label }}<br>
                    {{ nonAcademicCollabsForm.department(class="form-control", size=32) }}<br>
                    {% for error in nonAcademicCollabsForm.department.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ nonAcademicCollabsForm.nameOfCollaborator.label }}<br>
                    {{ nonAcademicCollabsForm.nameOfCollaborator(class="form-control", size=64) }}<br>
                    {% for error in nonAcademicCollabsForm.nameOfCollaborator.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ nonAcademicCollabsForm.goal.label }}<br>
                    {{ nonAcademicCollabsForm.goal(class="form-control") }}<br>
                    {% for error in nonAcademicCollabsForm.goal.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ nonAcademicCollabsForm.frequency.label }}<br>
                    {{ nonAcademicCollabsForm.frequency(class="form-control", size=32) }}<br>
                    {% for error in nonAcademicCollabsForm.frequency.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ nonAcademicCollabsForm.primaryAttribution.label }}<br>
                    {{ nonAcademicCollabsForm.primaryAttribution(class="form-control", size=32) }}<br>
                    {% for error in nonAcademicCollabsForm.primaryAttribution.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ nonAcademicCollabsForm.nonAcademicCollabsSubmit(class="btn btn-primary") }}

                    <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#nonAcademicCollabs-show" aria-expanded="false" aria-controls="nonAcademicCollabs-show">Show current</button>
                </div>
            </form>
            
            <div class="collapse" id="nonAcademicCollabs-show">
                <p>
                    content - here
                </p>
            </div>
            <hr>
        </div>

        <!-- EVENTS -->
        <div class="collapse" id="events">
            <h1>Edit Events</h1>
            <form action="" method="post">
                {{ eventsForm.hidden_tag() }}
                <div class="form-group">
                    {{ eventsForm.startDate.label }}<br>
                    {{ eventsForm.startDate(class="form-control", size=32) }}<br>
                    {% for error in eventsForm.startDate.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ eventsForm.endDate.label }}<br>
                    {{ eventsForm.endDate(class="form-control", size=32) }}<br>
                    {% for error in eventsForm.endDate.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ eventsForm.title.label }}<br>
                    {{ eventsForm.title(class="form-control") }}<br>
                    {% for error in eventsForm.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ eventsForm.eventType.label }}<br>
                    {{ eventsForm.eventType(class="form-control") }}<br>
                    {% for error in eventsForm.eventType.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ eventsForm.role.label }}<br>
                    {{ eventsForm.role(class="form-control", size=64) }}<br>
                    {% for error in eventsForm.role.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ eventsForm.location.label }}<br>
                    {{ eventsForm.location(class="form-control", size=64) }}<br>
                    {% for error in eventsForm.location.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ eventsForm.primaryAttribution.label }}<br>
                    {{ eventsForm.primaryAttribution(class="form-control", size=32) }}<br>
                    {% for error in eventsForm.primaryAttribution.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ eventsForm.eventsSubmit(class="btn btn-primary") }}

                    <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#events-show" aria-expanded="false" aria-controls="events-show">Show current</button>
                </div>
            </form>
            
            <div class="collapse" id="events-show">
                <p>
                    content - here
                </p>
            </div>
            <hr>
        </div>

        <!-- COMMUNCATIONS OVERVIEW -->
        <div class="collapse" id="communications">
            <h1>Communications Overview</h1>
            <form action="" method="post">
                {{ commForm.hidden_tag() }}
                <div class="form-group">
                    {{ commForm.year.label }}<br>
                    {{ commForm.year(class="form-control", size=4) }}<br>
                    {% for error in commForm.year.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ commForm.numberOfLectures.label }}<br>
                    {{ commForm.numberOfLectures(class="form-control", size=12) }}<br>
                    {% for error in commForm.numberOfLectures.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ commForm.numberOfVisits.label }}<br>
                    {{ commForm.numberOfVisits(class="form-control", size=12) }}<br>
                    {% for error in commForm.numberOfVisits.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ commForm.numberOfMediaInteracations.label }}<br>
                    {{ commForm.numberOfMediaInteracations(class="form-control", size=12) }}<br>
                    {% for error in commForm.numberOfMediaInteracations.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ commForm.commSubmit(class="btn btn-primary") }}

                    <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#communications-show" aria-expanded="false" aria-controls="communications-show">Show current</button>
                </div>
            </form>
            
            <div class="collapse" id="communications-show">
                <p>
                    content - here
                </p>
            </div>
            <hr>
        </div>

        <!-- SFI Funding Ratio -->
        <div class="collapse" id="sfiFundingRatio">
            <h1>SFI Funding Ratio</h1>
            <form action="" method="post">
                {{ fundRatioForm.hidden_tag() }}
                <div class="form-group">
                    {{ fundRatioForm.year.label }}<br>
                    {{ fundRatioForm.year(class="form-control", size=4) }}<br>
                    {% for error in fundRatioForm.year.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ fundRatioForm.percentage.label }}<br>
                    {{ fundRatioForm.percentage(class="form-control", size=4) }}<br>
                    {% for error in fundRatioForm.percentage.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ fundRatioForm.sfiFundingRatioSubmit(class="btn btn-primary") }}

                    <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#sfiFundingRatio-show" aria-expanded="false" aria-controls="sfiFundingRatio-show">Show current</button>
                </div>
            </form>
            
            <div class="collapse" id="sfiFundingRatio-show">
                <p>
                    content - here
                </p>
            </div>
            <hr>
        </div>

        <!-- EDUCATION AND PUBLIC ENGAGEMENT -->
        <div class="collapse" id="pubEngage">
            <h1>Edit Education and Public Engagement</h1>
            <form action="" method="post">
                {{ pubEngageForm.hidden_tag() }}
                <div class="form-group">
                    {{ pubEngageForm.nameOfProject.label }}<br>
                    {{ pubEngageForm.nameOfProject(class="form-control", size=32) }}<br>
                    {% for error in pubEngageForm.nameOfProject.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ pubEngageForm.startDate.label }}<br>
                    {{ pubEngageForm.startDate(class="form-control", size=12) }}<br>
                    {% for error in pubEngageForm.startDate.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ pubEngageForm.endDate.label }}<br>
                    {{ pubEngageForm.endDate(class="form-control", size=12) }}<br>
                    {% for error in pubEngageForm.endDate.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ pubEngageForm.activityType.label }}<br>
                    {{ pubEngageForm.activityType(class="form-control") }}<br>
                    {% for error in pubEngageForm.activityType.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ pubEngageForm.otherType.label }}<br>
                    {{ pubEngageForm.otherType(class="form-control", size=32) }}<br>
                    {% for error in pubEngageForm.otherType.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ pubEngageForm.projectTopic.label }}<br>
                    {{ pubEngageForm.projectTopic(class="form-control") }}<br>
                    {% for error in pubEngageForm.projectTopic.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ pubEngageForm.otherType.label }}<br>
                    {{ pubEngageForm.otherType(class="form-control", size=32) }}<br>
                    {% for error in pubEngageForm.otherType.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ pubEngageForm.target.label }}<br>
                    {{ pubEngageForm.target(class="form-control") }}<br>
                    {% for error in pubEngageForm.target.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ pubEngageForm.localCountry.label }}<br>
                    {{ pubEngageForm.localCountry(class="form-control", size=12) }}<br>
                    {% for error in pubEngageForm.localCountry.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ pubEngageForm.pubEngageSubmit(class="btn btn-primary") }}

                    <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#pubEngage-show" aria-expanded="false" aria-controls="pubEngage-show">Show current</button>
                </div>
            </form>
            
            <div class="collapse" id="pubEngage-show">
                <p>
                    content - here
                </p>
            </div>
            <hr>
        </div>
        </div>
    </div>
</div>
{% endblock %}
