{% extends "base.html" %}

{% block content %}
    <h1>Edit general information</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.company.label }}<br>
            {{ form.company(size=64) }}<br>
            {% for error in form.company.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=64) }}<br>
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <p>
            {{ form.years.label }}<br>
            {{ form.years(size=4) }}<br>
            {% for error in form.years.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}