{% extends "base.html" %}

{% block content %}
    <h1>View Profile of {{user.username}}({{user.orcid}}) </h1>
    <h3>General Information</h3>
    {% if info != None %}
    <ul>
        <li>
            {{ info["firstName"] }}
        </li>
        <li>
            {{ info["lastName"] }}
        </li>
        <li>
            {{ info["jobTitle"] }}
        </li>
        <li>
            {{ info["prefix"] }}
        </li>
        <li>
            {{ info["suffix"] }}
        </li>
        <li>
            {{ info["email"] }}
        </li>
        <li>
            {{ info["orcid"] }}
        </li>
    </ul>
    {% else %}
    <p> This profile doesnt exist </p>
    {% endif %}

    
{% endblock %}