{% extends "base.html" %}

{% block content %}

	<h1>Pending proposals to review</h1><br>
	<div class="row">
		<div class="col-md-2"></div>
		{% if getPendingFunds != None %}
		<div class="col-md-8">
			{% for call in getPendingFunds %}
			<div class="card">
				<div class="card-body">
					<h2>{{ call[1] }}</h2>
					{% for prop in call[0] %}
					<div class="card">
						<div class="card-body"><a href="{{url_for("view_applications")}}/{{ prop.id }}">{{ prop["title"] }}</a></div>
					</div><br>
					{% endfor %}
				</div>
			</div><br>
			{% endfor %}
		</div>
		{% endif %}
	</div>

{% endblock %}