{% extends "base.html" %}

{% block content %}

	<h1>Pending proposals to review</h1><br>
	<div class="row">
		<div class="col-md-2"></div>

		<div class="col-md-8">
			{% for item in getPendingFunds %}
			<div class="card">
				<div class="card-body">
					<h2>{{ item }}</h2>
					{% for prop in item %}
					<div class="card">
						<div class="card-body"><a href="{{url_for("view_applications")}}/{{ loop.index }}">{{ prop["title"] }}</a></div>
					</div><br>
					{% endfor %}
				</div>
			</div><br>
			{% endfor %}
		</div>
	</div>

{% endblock %}