{% extends "base.html" %}

{% block content %}

	<h1>Pending proposals to review</h1><br>
	<div class="row">
		<div class="col-md-2"></div>

		<div class="col-md-8">
			{% for item in getPendingFunds %}
			<div class="card">
				<div class="card-body">
					<h2>{{ item["title"] }}</h2>
					<div class="card">
						<div class="card-body">Proposal 1</div>
					</div><br>
					<div class="card">
						<div class="card-body">Proposal 2</div>
					</div>
				</div>
			</div><br>
			{% endfor %}
			

			<hr>

            {% if current_user.is_reviewer %}
            <!-- for item in getReviewInfo -->
            <!-- submittedReviews table - get proposal ID and reviewer ID -->
            <div class="card mb-3">
                <div class="card-body">
                    <p>Name of project: <!-- item["description"] --></p>
                    <p>Rating: <!-- item["review"] --></p>
                </div>
            </div>
            <!-- endfor -->
            {% endif %}
		</div>
	</div>

{% endblock %}