{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>Name: {{ user.prefix }}{{ user.username }}</h1>
                <p>Orcid: {{ user.orcid }}</p>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% else %}
                <p>Nothing to show</p>
                {% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
            </td>
        </tr>
    </table>
    <hr>
    <h4>Personal Information</h4>
    {% if user.jobTitle %}<p>User Job Title: {{ user.jobTitle }}</p>{% endif %}
    {% if user.email %}<p>User Email: {{ user.email }}</p>{% endif %}
{#    # TODO: need more info?#}
    <hr>
    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}
{% endblock %}