{% extends "base.html" %}

{% block content %}
    <h1>My Grant Applications</h1>

    <h2>Draft Grants</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>View Application</th>
        </tr>
        {% for d in draft %}
        <tr>
            <td>
                <a href="{{ url_for('view_application', grant_id=d.id) }}">{{ d.title }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2>Pending Grants</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>View Application</th>
        </tr>
    {% for p in pending %}
        <tr>
            <td>
            <a href="{{ url_for('view_application', grant_id=p.id) }}">{{ p.title }}</a>
            </td>
        </tr>
    {% endfor %}
    </table>

    <h2>Awarded Grants</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>View Grant</th>
        </tr>
    {% for award in awarded %}
        <tr>
            <td>
            <a href="{{ url_for('view_grant', id=award.id) }}">{{ award.title }}</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
