{% extends "base.html" %}

{% block content %}
    <h1>Funding calls / Calls for proposals </h1> 
    
    {% if current_user.is_admin %}
    <a class="btn btn-primary mt-2 mb-2" href="{{url_for('publish_call') }}">Publish new Proposal</a>
    {% endif %}

    <ul class="list-group">
    {% for call in calls %}
        <li class="list-group-item">
            <h3><a href="{{ url_for('view_call', call_id=call.id) }}">{{ call.title }}</a><t><a href="{{ url_for('apply') }}" class="btn btn-primary">Apply</a></h3>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
