{% extends "base.html" %}

{% block content %}
    <h1>Funding calls / Calls for proposals </h1> 
    
    {% if current_user.is_admin %}
    <a class="btn btn-primary mt-2 mb-2" href="{{url_for('publish_call') }}">Publish new Proposal</a>
    {% endif %}

    <table class="table table-striped table-hover">
        <tr>
            <th scope="col">Title</th>
            {% if current_user.is_anonymous == False and not current_user.is_admin and not current_user.is_reviewer%}<th scope="col">Application</th>{% endif %}
            {% if current_user.is_admin %}
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            {% endif %}

        
        </tr>
        {% for call in calls %}
        <tr>
            <td class="mr-5"><a href="{{ url_for('view_call', call_id=call.id) }}">{{ call.title }}</a></td>
            {% if current_user.is_anonymous == False and not current_user.is_admin and not current_user.is_reviewer %}<td class="mr-5"><a href="{{ url_for('apply', call_id=call.id) }}", class="btn btn-primary">Apply</a></td>{% endif %}
            {% if current_user.is_admin %}

                <td><a href="{{ url_for('edit', call_id=call.id) }}" class="btn btn-primary">Edit</a></td>
                <td><a href="{{ url_for('delete', call_id=call.id) }}" class="btn btn-primary">Delete</a></td>
                {% endif %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}
